{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

    <div class="container mt-3 mb-3">

        <h1>
            {{ .Params.title }}
        </h1>

        <div>{{ safeHTML .Params.bio }}</div>

        <h2>Recordings: </h2>
        <div class="row row-cols-1 row-cols-md-3">
            {{ range .Params.recordings }}
            <div class="col mb-4">
              <div class="card">
                <a href="/videos/{{.slug}}"><img src="{{ .thumbnail }}" class="card-img-top" alt={{ .title }}></a>
                <div class="card-body">
                <h5 class="card-title"><a href="/videos/{{.slug}}">{{ .title }}</a></h5>
                <div class="card-text recording-card">on {{ (time .date).Format "Jan 2, 2006" }} at
                  <ul>
                    {{ range .meetups }}
                      <li> <a href="/videos/category/group/{{.slug}}">{{ .name }}</a></li>
                    {{ end }}
                  </ul>
                </div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>



    </div>

{{ end }}
