.recording-card > div > .card-text > ul {
    display: inline;
    padding-inline-start: 0;
}

.recording-card > div > .card-text > ul > li {
    display: inline;
}

.recording-card > div > .card-text > ul > li + li:before {
    content: ", ";
    padding: 0;
}

.recording-card > div > .card-text > span > a {
    color: white;
}