{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  <div data-type="ad" data-publisher="lqm.usergrouptv.site" data-format="728x90" data-zone="ros" class="horizontal-ad"></div>

    <div class="container mt-3 mb-3">

        <h1>
            {{ .Params.title }}
        </h1>

        {{ if gt (len .Params.recordings) 12 }}

        <div class="container mt-3 mb-3">

          <div class="row">
          <div class="col offset-md-8 mb-4">
            Filter: <input id="filter" type="text" name="title" />
          </div>
        </div>

        {{ end }}

        <div class="addthis_inline_share_toolbox text-right"></div>        

        <h2>Recordings: </h2>
        <div class="row row-cols-1 row-cols-md-3">
            {{ range .Params.recordings }}
            <div class="col mb-4">
              <div class="card recording-card" data-title="{{ .title }}">
                <a href="/videos/{{.slug}}"><img src="{{ .thumbnail }}" class="card-img-top" alt={{ .title }}></a>
                <div class="card-body">
                <h5 class="card-title"><a href="/videos/{{.slug}}">{{ .title }}</a></h5>
                <div class="card-text">by 
                  <ul>
                  {{ range .speakers }}
                    <li> <a href="/videos/category/speaker/{{.slug}}">{{ .name }}</a></li>
                  {{ end }}
                  </ul>on {{ (time .date).Format "Jan 2, 2006" }} <br />
                  {{ range .tags }}
                    <span class="badge badge-primary"><a href="/videos/tag/{{.slug}}">{{ .name }}</a></span>
                  {{ end }}</div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>


    </div>

{{ end }}
