{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

    <div class="container mt-3 mb-3">

      <div class="row">
      <div class="col offset-md-8 mb-4">
        <script async src="https://cse.google.com/cse.js?cx=1df2db28e15cbb464"></script>
        <div class="gcse-search"></div>
      </div>
    </div>

    <div class="text-center" >
      <h2>Welcome to UserGroup.tv</h2>
      <h4><b>{{ .Params.recordingCount }}</b> sessions from <b>{{ .Params.speakerCount }}</b> speakers recorded at <b>{{ .Params.groupCount }}</b> different groups.</h4>
      <h4>All <b>FREE</b> for your learning and enjoyment!</h4>
      <p>We would like to thank you for watching, and thank all the speakers and group leaders for donating there time and talent, UserGroup.tv would not be possible without you. Please share this site with your friends and co-workers. Moreover, show your appreciation and drop a thank you to the speaker and group on your social platform of choice.</p>
      <h4>Watch online in your browser or on our mobile apps.</h4>
      <p><a href="https://apps.apple.com/app/id641292750" target="_blank"><img src="/images/iosapp.png"></a> <img src="/images/androidapp-cs.png"></p>
     </div>

        <h2>Recent Recordings: </h2>
        
            {{ $.Scratch.Set "i" -1 }}
            {{ range .Params.newest }}
            {{ $.Scratch.Add "i" 1 }}
            {{ $i := $.Scratch.Get "i" }}
            {{ if (eq $i 0) }}
              <div class="row row-cols-1 row-cols-md-3">
            {{ end }}
            {{ if and (modBool $i 6) (ne $i 0)}}
              </div>
              <div class="row">
                <div class="col">
                  <div data-type="ad" data-publisher="lqm.usergrouptv.site" data-format="728x90" data-zone="ros" class="horizontal-ad"></div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
            {{ end }}
            
            <div class="col mb-4 ">
              <div class="card recording-card">
                <a href="/videos/{{.slug}}"><img src="{{ .thumbnail }}" class="card-img-top" alt={{ .title }}></a>
                <div class="card-body">
                <h5 class="card-title"><a href="/videos/{{.slug}}">{{ .title }}</a></h5>
                <div class="card-text">by 
                  <ul>
                  {{ range .speakers }}
                    <li> <a href="/videos/category/speaker/{{.slug}}">{{ .name }}</a></li>
                  {{ end }}
                  </ul>on {{ (time .date).Format "Jan 2, 2006" }} at
                  <ul>
                    {{ range .meetups }}
                      <li> <a href="/videos/category/group/{{.slug}}">{{ .name }}</a></li>
                    {{ end }}
                  </ul> <br />
                  {{ range .tags }}
                    <span class="badge badge-primary"><a href="/videos/tag/{{.slug}}">{{ .name }}</a></span>
                  {{ end }}
                   </div>
                </div>
              </div>
            </div>
            
            {{ end }}
          </div>
          
    </div>

{{ end }}
