{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

    <div class="container mt-3 mb-3">

      <div class="row">
      <div class="col offset-md-8 mb-4">
        <script async src="https://cse.google.com/cse.js?cx=1df2db28e15cbb464"></script>
        <div class="gcse-search"></div>
      </div>
    </div>

        <h2>Recent Recordings: </h2>
        <div class="row row-cols-1 row-cols-md-3">
            {{ range .Params.newest }}
            <div class="col mb-4 ">
              <div class="card">
                <a href="/videos/{{.slug}}"><img src="{{ .thumbnail }}" class="card-img-top" alt={{ .title }}></a>
                <div class="card-body">
                <h5 class="card-title"><a href="/videos/{{.slug}}">{{ .title }}</a></h5>
                <p class="card-text">Recorded on: {{ (time .date).Format "Jan 2, 2006" }}</p>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
    </div>

{{ end }}
