{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

    <div class="container mt-3 mb-3">

        <h1>
            {{ .Params.title }}
        </h1>

        <iframe src="https://player.vimeo.com/video/{{ .Params.vimeo }}" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <h2>Abstract: </h2>
        <div>{{ safeHTML .Params.abstract }}</div>

        <h2>Speakers: </h2>
        <div>
            <ul>
                {{ range .Params.speakers }}
                <li>
                    <h3>
                        <a href="/videos/category/speaker/{{.slug}}">{{ .name }}</a>
                    </h3>
                    <div>{{ partial "countbadge.html" .count }}</div>
                    <div>{{ safeHTML .bio }}</div>
                </li>
                {{ end }}
            </ul>            
        </div>

        <h2>Recorded At: </h2>
        <div>
            <ul>
                {{ range .Params.meetups }}
                <li>
                    <a href="/videos/category/group/{{.slug}}">{{ .name }}</a> {{ partial "countbadge.html" .count }}
                </li>
                {{ end }}
            </ul>            
        </div>

        <h2>Recorded on: </h2>
        <div>{{ .Params.date.Format "Jan 2, 2006" }}</div>

        <h2>More Info: </h2>
        <div><a href="{{ .Params.moreinfo }}" target="_blank" >{{ .Params.moreinfo }}</a></div>

        <h2>Tags: </h2>
        <div>
            <ul>
                {{ range .Params.tags }}
                <li>
                    <a href="/videos/tag/{{.slug}}">{{ .name }}</a> {{ partial "countbadge.html" .count }}
                </li>
                {{ end }}
            </ul>            
        </div>


    </div>

{{ end }}
